pandas
psycopg2-binary
pymysql
sqlalchemy
python-dotenv
numpy
pytest
flake8
pytest-mock
pytest-cov 
apache-airflow
apache-airflow-providers-postgres
mysql-connector-python
apache-airflow-providers-mysql